<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- Google font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
    <!-- Custom css -->
    <link rel="stylesheet" href="Custom CSS/Contact_us_style.css">
    <link rel="stylesheet" href="Custom CSS/Contact_us_responsive.css">


</head>

<body>
    <section id="contact_us">
        <div class="contact_box">
            <div class="image_section">
                <img src="icon/image.svg" alt="" class="map_image">
            </div>


            <div class="left_content">
                <p class="phone_heading1">Address</p>
                <div class="address">
                    <span class="heading1_content"> G40, Sector 58, Noida, Uttar Pradesh 201301</span>
                    </div>
                <!-- second -->

                <div class="right_heading2">
                    <p class="phone_heading">Phone</p>

                    <div class="mail_container2">
                        <img src="icon/telephone.svg" alt="" class="telephone">
                        <a href="#">+91 966-720-6383</a>
                   </div>   

                    <div class="mail_container2">
                        <img src="icon/telephone.svg" alt="" class="telephone">
                        <a href="#">+1 413-287-4059</a>
                   </div>   
                   
                    <div class="mail_container2">
                        <img src="icon/whatsapp.svg" alt="" class="whatsapp">
                        <a href="">+91 897-962-4146</a>
                   </div> 

                </div>

                <!-- second end  -->


                <div class="right_heading3">
                    <p class="phone_heading">Email</p>
                    <div class="mail_container1">
                        <img src="icon/carbon_email-new.svg" alt="" class="email">
                        <a href="#">sales@uxprodx.com</a>
                   </div>    
                   
                    <div class="mail_container">
                        <img src="icon/carbon_email-new.svg" alt="" class="email">
                        <a href="#">ranu@uxprodx.com</a>
                   </div>    
                   
                    <div class="mail_container">
                        <img src="icon/carbon_email-new.svg" alt="" class="email">
                        <a href="">trainings@uxprodx.com</a>
                   </div>    
                   
                    <div class="mail_container">
                        <img src="icon/carbon_email-new.svg" alt="" class="email">
                        <a href="">careers@uxprodx.com</a>
                   </div>    
                </div>

            </div>


        </div>

    </section>
</body>

</html>