<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="./style/section2.css">

    <title>Document</title>
</head>

<body>
    <div class="section-heading">
        <h2>Available Internships at UX-ProdX.</h2>
    </div>
    <br>
    <br><br>
    <div class="cards-section">
        <marquee>
            <div class="cards ">
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/GD.svg" alt="">
                        <div class="card-name">Graphics <br>Designer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/UXD.svg" alt="">
                        <div class="card-name">UX <br>Designer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/UID.svg" alt="">
                        <div class="card-name">UI <br>Designer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/FED.svg" alt="">
                        <div class="card-name">FullStack <br>Developer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/FD.svg" alt="">
                        <div class="card-name">Frontend <br>Developer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/BED.svg" alt="">
                        <div class="card-name">Backend <br>Developer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/WB.svg" alt="">
                        <div class="card-name">Web <br>Developer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/AD.svg" alt="">
                        <div class="card-name">Apps <br>Developer</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/SE.svg" alt="">
                        <div class="card-name">Sales <br>Executive</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/ME.svg" alt="">
                        <div class="card-name">Marketing <br>Executive</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/BDE.svg" alt="">
                        <div class="card-name">Buisness Dev <br>Executive</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <img src="./Icons/DM.svg" alt="">
                        <div class="card-name">Digital <br>Marketer</div>
                    </div>
                </div>
            </div>
        </marquee>
    </div>

</body>

</html>