* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

body{
    font-family: 'Manrope';
}

.navbar {
    /* width: 1440px; */
    height: auto;
    /* background: #E5E5E5; */
    margin: auto;
}

.academy_navbar {
    max-width: 1075px;
    width: 93%;
    height: 91px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #E5E5E5; */
}

.academy_logo img{
   height: 84px;
}
.navbar_components {
    display: flex;
    align-items: center;
}

.navbar_components ul {
    display: flex;
    align-items: center;
}

ul {
    margin: 0%;
}

.nav_item {

    list-style: none;
    margin-left: 58px;
}

a{
    cursor: pointer;
}
.nav_link {
    /* display: flex;
    align-items: center;
    height: 39px; */
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}




@media (min-width:320px ) and (max-width:425px){
    .academy_logo{
        width: 90%;
        max-width: 149px;
    }
    .academy_logo img{
        height: 57px;
    }
    .navbar_components{
        width: 72%;
    }
    .navbar_components ul{
        padding-left: 0 !important;
        width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
    }

    .nav_item{
        margin-left: 0;
        display: none;
    }
   #menuLink{
       display: block;
   }
    .nav_link{
        font-size: 14px;
    }
}

@media (min-width:425px ) and (max-width:768px){
    .academy_logo{
        width: 90%;
        max-width: 149px;
    }
    .academy_logo img{
        height: 71px;
    }
    .navbar_components{
        width: 72%;
    }
    .navbar_components ul{
        padding-left: 0 !important;
        width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
    }

    .nav_item{
        margin-left: 0;
        display: none;
    }
   #menuLink{
       display: block;
   }
    .nav_link{
        font-size: 15px;
    }
}

@media (min-width:769px ) and (max-width:1024px){
    .academy_logo{
        width: 31%;
        max-width: 149px;
    }
    .academy_logo img{
        height: 71px;
    }

    .navbar_components{
        width: 72%;
    }
    .navbar_components ul{
        padding-left: 0 !important;
        width: 100%;
    display: flex;
    justify-content: space-between;
    }

    .nav_item{
        margin-left: 0;
    }

    .nav_link{
        font-size: 15px;
    }
}