<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="./style/section6.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="section6">
        <div class="content">
            <div class="cards">
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-name">100%</div>

                        <p>In-house paid internship<br>opportunity</p>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-name">10+</div>

                        <p>Industry Professional Trainers</p>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-name">50+</div>

                        <p>Global Hiring Partners</p>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-name">3+</div>

                        <p>Batches Every Week</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>