<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/ourServices.css">
</head>
<body>
    <section class="research">
        <div class="researchContainer">
            <div class="researchHeadingContainer">
                <div class="researchLeftContainer">
                    <div class="researchHeading">
                        <span>
                            Research
                        </span>
                    </div>
                    <div class="headingDownContainer">
                        <div class="researchDescription">
                            <p>
                                We provide meaningful and actionable data-driven insights that represent the voice of a
                                user
                                and resonate with business objectives.

                            </p>
                        </div>

                    </div>
                </div>
                <div class="researchImg">
                    <img src="images/research.gif" alt="">
                </div>
            </div>
            <div class="researchDescriptionContainer">

                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Heuristic Analysis
                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Expert reviews to check how usability of an existing product holds up against a set of
                            predetermined design principles.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Design Audit

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Conducting an evaluation to check various aspects of the quality of design of an existing
                            product.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Usability Testing

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Evaluating a product or service by testing it in real time with target users, to collect
                            qualitative & quantitative data.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Ethnographic Research

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            A qualitative method involving observing users in the context of their real technical and
                            social environment.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Emerging Trends

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Seeing how we can design to incorporate all the latest advancements in technology, in all of
                            our projects.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            UX Research

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Studying and evaluating the target audience while understanding their behavioural patterns,
                            experience, interaction, and emotion.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>