<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Grow Together Component</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- font link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="stylesheet/available_internship.css">

</head>

<body>

    <section class="SectionSecond SC" id="available_internship">
        <div class="section-heading">
            <h2>Available Internships at UX-ProdX.</h2>
        </div>
        <div class="cards-section">
            <marquee>
                <div class="cards ">
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/GD.svg" alt="">
                            <div class="card-name">Graphics <br>Designer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/UXD.svg" alt="">
                            <div class="card-name">UX <br>Designer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/UID.svg" alt="">
                            <div class="card-name">UI <br>Designer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/FED.svg" alt="">
                            <div class="card-name">FullStack <br>Developer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/FD.svg" alt="">
                            <div class="card-name">Frontend <br>Developer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/BED.svg" alt="">
                            <div class="card-name">Backend <br>Developer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/WB.svg" alt="">
                            <div class="card-name">Web <br>Developer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/AD.svg" alt="">
                            <div class="card-name">Apps <br>Developer</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/SE.svg" alt="">
                            <div class="card-name">Sales <br>Executive</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/ME.svg" alt="">
                            <div class="card-name">Marketing <br>Executive</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/BDE.svg" alt="">
                            <div class="card-name">Buisness Dev <br>Executive</div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-inner">
                            <img src="Icons/DM.svg" alt="">
                            <div class="card-name">Digital <br>Marketer</div>
                        </div>
                    </div>
                </div>
            </marquee>
        </div>

        <div class="SC_bottom_text">
            <span class="SC_summary">At UX-ProdX, you learn and grow exactly how you would on a real Industry
                environment. You will start from the
                fundamentals, receive support from our mentors and fellow Interns, and build your way to the top-
                through professional work-like Industry professionals on real products.</span>
        </div>
    </section>







            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    
        <!-- navbar -->
        <script src="../components/websiteNavbar/navbarScript/navbarScript.js"></script>
    
        <!-- header -->
        <script src="../components/academyHeader/script/Header.js"></script>
    
    
    </body>
    
    </html>