<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/ourServices.css">
</head>
<body>
    <section class="build">
        <div class="researchContainer">
            <div class="researchHeadingContainer">
                <div class="researchLeftContainer">
                    <div class="researchHeading">
                        <span>
                            Build
                        </span>
                    </div>
                    <div class="headingDownContainer">
                        <div class="researchDescription">
                            <p>
                                We help you translate any kind of design into functional digital products such as
                                websites, mobile apps or enterprise solutions.


                            </p>
                        </div>

                    </div>
                </div>
                <div class="researchImg">
                    <img src="images/build.gif" alt="">
                </div>
            </div>
            <div class="researchDescriptionContainer">

                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Front-End Development

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Implementing the best combination of technologies (full-stack, mean stack, flutter,
                            native-OS) for your project.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Web Applications


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Implementing the perfect blend of agile development to create dynamic and responsive web
                            applications.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Mobile Applications


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Leveraging the latest technologies to develop robust and scalable hybrid and native mobile
                            applications.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Custom Applications


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Implementing the best combination of technologies to develop interfaces for wearables,
                            dashboards and IOTs.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            SAAS Implementation


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Using a cloud-first approach to create anytime-anywhere access based scalable SAAS
                            applications.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            CMS Integration


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Building a platform that is accessible and can be managed by the customers in order to
                            create, manage and modify digital content on their website easily.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>