<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our client</title>
    <link rel="stylesheet" href="style/Our_client.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>

<body>
    
    <section class="our_recent_client">
        <div class="recent_client_container">
            <div class="client_heading">
                <div class="our_clients"> Our Recent Clients</div>
                <div class="work_setup">
                    We have worked Startups to SME’s to builds transformational product that users love through
                    best-in-class experience and cutting-edge technology.
                </div>
            </div>
            <div class="our_client_card">
                <div class="client_card_1">
                    <img src="img/Group 302.svg" alt="Pharmaceutical ">
                    <div class="card_hed_text">
                        <h1 class="client_company_name">Udyam Pharma</h1>
                        <h1 class="client_brand_name">Pharmaceutical </h1>
                    </div>
                    
                </div>
                <div class="client_card_2">
                    <img src="img/Group 303.svg" alt="Pharmaceutical ">
                    <div class="card_hed_text">
                        <h1 class="client_company_name">John  Johny</h1>
                        <h1 class="client_brand_name">Global Fashion </h1>
                    </div>
                    
                </div>
                <div class="client_card_3">
                    <img src="img/Group 304.svg" alt="Pharmaceutical ">
                    <div class="card_hed_text">
                        <h1 class="client_company_name">True Acme</h1>
                        <h1 class="client_brand_name">Real Estate</h1>
                    </div>
                   
                </div>
               
            </div>

        </div>
    </section>
</body>

</html>