<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/section.css">
     <!-- font family link -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="google_sec">
        <div class="google_part">
            <div class="red_border">
                <div class="redline"></div>
            </div>
            <div class="google_head">We turns Ideas into world class digital products and experience
                 that creates stories like <span class="google_red">Google</span>
            </div>
        </div>
    </section>
    <section class="story_sec">
        <div class="story_part1">
            <div class="story_head">Let’s make next big <span class="story_red">Story</span> together !</div>
        </div>
        <div class="story_part2">
            <div class="member">
                <div class="member_no">10+</div>
                <div class="member_name">clients</div>
            </div>
            <div class="member">
                <div class="member_no">10+</div>
                <div class="member_name">Projects</div>
            </div>
            <div class="member">
                <div class="member_no">20+</div>
                <div class="member_name">Team Members</div>
            </div>
        </div>
    </section>
    
</body>
</html>