<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Framwork</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/resp.css">
    <link rel="stylesheet" href="./Our Client/style/client.css">
    <link rel="stylesheet" href="./Our Client/style/clientresp.css">
    
</head>

<body>
    <section class="frameworkfirstpage">
        <div class="frameworkcontainer">
            <div class="meanbox">
                <div class="ourframwork">Our Framework</div>
                <div class="frameworkheading">
                    Framework
                </div>
                <div class="frameworkprag">
                    <p class="frameworkpragpha">
                        We start with customer-centric digital product development approach with our expertise needed to
                        make your product standout in the digital market. we are flexible to support you at every stage
                        in
                        the product development process.
                    </p>
                </div>
            </div>
            <picture class="frameworkimg">
                <img src="img/[component_lottie_https___assets4.lottiefiles.com_packages_lf20_y3qfynfr.json].gif"
                    alt="laptop" class="img-fluid">
            </picture>
        </div>
        <div class="subcontainer">
            <div class="discover">
                <h3 class="discoverhead">Discover</h3>
                <p class="discoverinfo">We gain an empathetic understanding of the Idea and problem you’re trying to
                    solve, typically through Market/user research. Empathy is crucial to a human-centered products.
                </p>
            </div>
            <div class="desing">
                <h3 class="desinghead">Desing</h3>
                <p class="desinginfo">It is an experimental phase, where we aim is to identify the best possible
                    solution for each problem/Ideas found and we rigorously test them with users so that we can return
                    to previous stages to make further iterations, alterations and refinements to discover or rule out
                    alternative solutions.
                </p>
            </div>
            <div class="define">
                <h3 class="definehead">Define</h3>
                <p class="defineinfo">
                    We analyze your observations and synthesize them to define the core problems that we have
                    identified.
                </p>
            </div>
            <div class="bulid">
                <h3 class="bulidhead">Bulid</h3>
                <p class="bulidinfo">We starts building product on final design iteration and makes it funtional adding
                    world class experience.
                </p>
            </div>
            <div class="testing">
                <h3 class="testinghead">Testing</h3>
                <p class="testinginfo">Our primary goal of testing is to identify all the defects and errors in the
                    software before the implementation phase. and we want to maintain the quality and gain your client’s
                    trust and confidence.
                </p>
            </div>
        </div>
    </section>
    <section class="frameworkfirstpage1">
        <div class="frameworkcontainer">
            <div class="meanbox1">
                <div class="ourpdlc">Our PDLC</div>
                <div class="pdlcheading">
                    Product development Lifecycle
                </div>
                <div class="pdlcprag">
                    <p class="pdlcpragpha">
                        UX-Prodx’s product development cycle is the process of taking a your product from an idea
                        through its market release and beyond.
                    </p>
                </div>
            </div>
            <picture class="frameworkimg">
                <img src="img/[component_lottie_https___assets1.lottiefiles.com_packages_lf20_8gqp0k0e.json].gif"
                    alt="laptop" class="img-fluid">
            </picture>
        </div>
        <div class="subcontainer2">
            <div class="pdlcidea1">
                <h3 class="ideadiscussionhead">Idea Discussion
                </h3>
                <p class="ideadiscussioninfo">We brainstorm with our clients and our product experts look for ways to solve
                    problems for your target user or user personas, and during this phase, our team will generate
                    several product ideas.
                </p>
            </div>
            <div class="pdlcidea2">
                <h3 class="ideavalidationhead">Idea Validation</h3>
                <p class="ideavalidationinfo">After the first phase, our product team will have a long list of product design
                    concepts with a goal now to narrow the list to one product design idea or feature worth pursuing. we
                    do practice several ways of screening ideas to learn which are the most viable.
                </p>
            </div>
            <div class="pdlcidea3">
                <h3 class="prototypinghead">Prototyping</h3>
                <p class="prototypinginfo">
                    Our product design creates a very simple mockup of the application and test it with a focus group or
                    small group of customers for their feedback.
                </p>
            </div>
            <div class="pdlcidea4">
                <h3 class="productdevelopementhead">Product Development</h3>
                <p class="productdevelopementinfo">After gathering users' feedback on prototypes or mockups, our product development
                    team starts to build a minimum viable product (MVP).
                </p>
            </div>
            <div class="pdlcidea5">
                <h3 class="qualityassurancehead">Quality Assurance</h3>
                <p class="qualityassuranceinfo">Our QA team ensures software usability by running tests and preparing reports on
                    the effectiveness and defects to the development team, whether the actual software product matches
                    expected outcomes.
                </p>
            </div>
            <div class="pdlcidea6">
                <h3 class="productlaunchhead">Product Launch</h3>
                <p class="productlaunchinfo">After product development and testing MVP, client is now ready to launch it to
                    the public. As Product MVP will help the client to gain several important insights at once.
                </p>
            </div>
        </div>
    </section>
</body>

</html>