<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/ourTeamSection.css">
   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
    <section class="ourTeam">
        <div class="ourTeamContainer">
            <div class="ourTeamHeadingContainer">
                <span id="ourTeam">
                    Our Team
                </span>
                <div class="ourTeamHeading">
                    We have earned people, who love to work with us.
                </div>
                <div class="ourTeamDescription">
                    <p>
                        We are full-fledge digital product design and development team that provides digital
                        transformation services and solutions to Startups/enterprises to technologically empower our
                        clients and help them gain a competitive edge.
                    </p>
                </div>
            </div>
            <div class="ourTeamCardContainer">

                <div class="ourTeamCards">
                    <div class="teamCardContainer">
                        <div class="teamImg">
                            <img src="
                            " alt="">
                        </div>
                        <span class="teamName">
                            Ranu Sharma
                        </span>
                        <span class="teamDesignation">
                            HR Manager
                        </span>
                        <div class="iconContainer">
                            <a href=""><img src="icons/ph_instagram-logo.svg" alt="ph_instagram-logo"></a>
                            <a href=""> <img src="icons/et_facebook.svg" alt="et_facebook"></a>
                            <a href=""> <img src="icons/et_linkedin.svg" alt="linkedin"></a>
                        </div>

                    </div>
                </div>
                <div class="ourTeamCards">
                    <div class="teamCardContainer">
                        <div class="teamImg">
                            <img src="
                            " alt="">
                        </div>
                        <span class="teamName">
                            Bhupesh
                        </span>
                        <span class="teamDesignation">
                            Frontend Tech Lead
                        </span>
                        <div class="iconContainer">
                            <a href=""><img src="icons/ph_instagram-logo.svg" alt="ph_instagram-logo"></a>
                            <a href=""> <img src="icons/et_facebook.svg" alt="et_facebook"></a>
                            <a href=""> <img src="icons/et_linkedin.svg" alt="linkedin"></a>
                        </div>

                    </div>
                </div>
                <div class="ourTeamCards">
                    <div class="teamCardContainer">
                        <div class="teamImg">
                            <img src="
                            " alt="">
                        </div>
                        <span class="teamName">
                            Roshan Kumar
                        </span>
                        <span class="teamDesignation">
                            Frontend Tech Lead
                        </span>
                        <div class="iconContainer">
                            <a href=""><img src="icons/ph_instagram-logo.svg" alt="ph_instagram-logo"></a>
                            <a href=""> <img src="icons/et_facebook.svg" alt="et_facebook"></a>
                            <a href=""> <img src="icons/et_linkedin.svg" alt="linkedin"></a>
                        </div>

                    </div>
                </div>

                <div class="ourTeamCards">
                    <div class="teamCardContainer">
                        <div class="teamImg">
                            <img src="
                            " alt="">
                        </div>
                        <span class="teamName">
                            Lalit Kumar
                        </span>
                        <span class="teamDesignation">
                            Business Development
                            Executive
                        </span>
                        <div class="iconContainer">
                            <a href=""><img src="icons/ph_instagram-logo.svg" alt="ph_instagram-logo"></a>
                            <a href=""> <img src="icons/et_facebook.svg" alt="et_facebook"></a>
                            <a href=""> <img src="icons/et_linkedin.svg" alt="linkedin"></a>
                        </div>

                    </div>
                </div>
                <div class="ourTeamCards">
                    <div class="teamCardContainer">
                        <div class="teamImg">
                            <img src="
                            " alt="">
                        </div>
                        <span class="teamName">
                            Utsav Sharma
                        </span>
                        <span class="teamDesignation">
                            Business Development
                            Executive
                        </span>
                        <div class="iconContainer">
                            <a href=""><img src="icons/ph_instagram-logo.svg" alt="ph_instagram-logo"></a>
                            <a href=""> <img src="icons/et_facebook.svg" alt="et_facebook"></a>
                            <a href=""> <img src="icons/et_linkedin.svg" alt="linkedin"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>