<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/navbar.css">
    
    <link rel="stylesheet" href="../menu/style/menu.css">

    <!-- Jquery Script  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body id="body">
    <nav class="navbar">
        <div class="academy_navbar">
            <div class="academy_logo">
                <img src="icons/Logo-Navbar.svg" alt="">


            </div>
            <div class="navbar_components">
                <ul>
                    <li class="nav_item"><a class="nav_link serviceLink" href="../OurServices/ourServices.html">Services</a></li>
                    <li class="nav_item"><a class="nav_link projectLink" href="../viewProject/viewProject.html">Projects</a></li>
                    <li class="nav_item"><a class="nav_link TrainingLink" href="#">Trainings</a></li>
                    <li class="nav_item"><a class="nav_link eventLink" href="#">Events</a></li>
                    <li class="nav_item menuLink"  ><a class="nav_link">
                            <img src="http://www.uxprodx.com/images/menu.svg" alt=""> Menu
                        </a></li>
                </ul>
            </div>
        </div>

    </nav>

    
    <section class="menu">
        <div class="menu-section">
            <div class="cross-icon">
                <a href="#"><img src="./icons/Vector10.svg" alt="" class="closeButton"></a>
            </div>

            <!-- <div class="top-portion"> -->
            <div class="bold-list">
                <ul>
                    <a href="../OurServices/ourServices.html">
                        <li class="serviceLink">Services</li>
                    </a>
                    <a href="../viewProject/viewProject.html">
                        <li class="projectLink">Projects</li>
                    </a>
                    <a href="#">
                        <li class="trainingLink">Trainings</li>
                    </a>
                    <a href="#">
                        <li class="aboutLink">About</li>
                    </a>
                </ul>

            </div>

            <!-- </div> -->
            <div class="lighter-list">
                <ul>
                    <a href="../campusAmbassadorPage/campusAmbassador.html">
                        <li class="CampusAmbassdor-Link">Campus Amabassador Program</li>
                    </a>
                    <a href="#">
                        <li class="Careers-Link">Careers </li>
                    </a>
                    <a href="../Internship Page/index.html">
                        <li class="Internships-Link">Internships </li>
                    </a>
                    <a href="#">
                        <li class="Blogs-Link">Blogs</li>
                    </a>
                    <a href="../industriesPage/industryPage.html">
                        <li class="Industries-Link">Industries</li>
                    </a>
                    <a href="../contactUs/contactUs.html">
                        <li class="Contact-Link">Contact Us</li>
                    </a>
                </ul>

            </div>
            <div class="socials-Menu">
                <ul>
                    <a href="#">
                        <img src="./icons/icons8-facebook-circled.svg" alt="">
                        <li>Facebook</li>
                    </a>
                    <a href="#">
                        <img src="./icons/LinkedIn.svg" alt="">
                        <li>LinkedIn </li>
                    </a>
                    <a href="#">
                        <img src="./icons/Instagram.svg" alt="">
                        <li>Instagram</li>
                    </a>
                    <a href="#">
                        <img src="./icons/behance.svg" alt="">
                        <li>Behance</li>
                    </a>
                    <a href="#">
                        <img src="./icons/Dribble.svg" alt="">
                        <li>Dribble</li>
                    </a>
                </ul>

            </div>
        </div>
    </section>

     
</body>
</html>