@media (min-width: 320px) and (max-width: 425px) {
  body #main_Section {
    
    margin-top: 40px;
    
}
  .container1 {
    flex-direction: row;
  }

  section#main_Section {
    width: 90%;
    height: 200px;
  }
  img {
  width: 100%;
  }
  

  body .first_image {
    width: 28%;
    height: 146px;
    margin: 12px 8.83px 41px 9px;
  }

  body .second_image {
    width: 28%;
    height: 156.33px;
    margin: 24px 10px 16.67px 0px;
  }

  body .third_image {
    width: 26%;
    height: 148px;
    margin: 18px 9.18px 33px 0px;
  }


  body .forth_image {
    width: 26%;
    height: 158.19px;
    margin: 23px 8.7px 16.81px 0px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .container1 {
    flex-direction: row;
  }

 
  section#main_Section {
    width: 85%;
    height: 300px;
  }
  img {
  width: 100%;
  }
  
  body .first_image {
    width: 30%;
    height: 220px;
    margin: 15px 8.83px 61px 9px;
  }

  body .second_image {
    width: 30%;
    height: 226.33px;
    margin: 35px 10px 35.67px 0px;
  }

  body .third_image {
    width: 28%;
    height: 221px;
    margin: 24px 9.18px 52px 0px;
  }


  body .forth_image {
    width: 28%;
    height: 246.19px;
    margin: 35px 8.7px 17.81px 0px;
  }

}
@media (min-width: 768px) and (max-width: 1024px) {
  .container1 {
    flex-direction: row;
  }

  section#main_Section {
    width: 70%;
    height: 400px;
  }

  img {
    width: 100%;
    }
    
    body .first_image {
      width: 30%;
      height: 318px;
      margin: 15px 8.83px 65px 9px;
    }
  
    body .second_image {
      width: 30%;
      height: 334.33px;
      margin: 34px 10px 28.67px 0px;
    }
  
    body .third_image {
      width: 28%;
      height: 323px;
      margin: 24px 9.18px 49px 0px
    }
  
  
    body .forth_image {
      width: 28%;
      height: 357px;
      margin: 34px 9.18px 8px 0px;
    }

  }
@media (min-width: 1024px) and (max-width: 1280px) {
  
  section#main_Section {
    width: 67%;
    height: 530px;
  }

  img {
  width: 100%;
  }
  
  body .first_image {
    width: 32%;
    height: 422px;
    margin: 26px 10.83px 79px 13px;
  }

  body .second_image {
    width: 33%;
    height: 419.33px;
    margin: 70px 12px 37.67px 0px;
  }

  body .third_image {
    width: 30%;
    height: 429px;
    margin: 35px 12.18px 63px 0px;
  }


  body .forth_image {
    width: 31%;
    height: 445.19px;
    margin: 70px 13.7px 14.81px 0px;
  }

}
