<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second_Task</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Botton_css/botton_style.css">
    <link rel="stylesheet" href="Botton_css/botton_responsive.css">
</head>
<body>
    <section id="first">
        <div class="main_image_box">
            <div class="first_text">
                <span class="top_text">Got an Idea? </span>
            </div>

            <div class="second_text">
                <span>Let’s build a story together ?</span>
            </div>

            <div class="botton_down">
                <button type=""> Get in touch</button>
            </div>
        </div>
    </section>

</body>
</html>
