<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Part</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Our work page css/our work_css_page.css">

</head>
<body>

    <section id="text_Container">
    <div class="text_box">
        <div class="left_text">
            <span class="left_content">
                Food Delivery App
            </span>
        </div>
        <div class="right_text">
            <p class="right_content">
                Food ordering apps have made the lockdowns less arduous. It's amazing how you can just think of your favorite food, order it online using food ordering apps, and all you have to do is just wait till it arrives at your doorstep.
            </p>
            <h4 class="border_botton">View Project
            </h4>
        </div>
    </div>
    </section>
</body>
</html>