* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

body {
    font-family: 'Manrope';
}

.sutable_training_section {
    margin: 104px auto 0 auto;
    width: 1075px;
    max-width: 1075px;
}

.sutable_training_text {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ST_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}

.ST_summary {
    width: 90%;
    max-width: 935px;
    height: fit-content;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

/* Fullstack Developer Card */

.developer_designer_card {
    padding-bottom: 13px;
}


.developer_component {
    display: flex;
    margin: 56px auto 0 auto;
    height: 419px;
    Width: 1075px;
    max-Width: 1075px;
    background: rgba(238, 87, 0, 0.84);
    border: 5px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.developer_box {
    width: 45%;
    padding: 32px 32px 0 32px;
    border-right: 5px solid #000000;
}

.developer_img {
    text-align: center;
}

.developer_img_heading {
    Height: 66px;
    margin-top: 24px;
    max-width: 454px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 34.1818px;
    line-height: 47px;
}

body p {
    margin-bottom: 0px;
}

.dev_all_buttons {
    text-align: center;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.dev_duration_button {
    background: #A7E5FF;
    width: 112px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dev_training_button {
    background: #A7E5FF;
    width: 105px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dev_career_button {
    background: #A7E5FF;
    width: 134px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dev_type_in {
    font-weight: 300;
    font-size: 10.20513px;
    line-height: 14px;
    color: #000000;
}

.dev_mode {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.dev_summary {
    width: 57%;
    padding: 31px 32px 0 32px;
    display: grid;
}

.dev_smry {
    width: 537px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.dev_skills_tools {
    width: 124px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 12px;
}

.dev_apply_buttons {
    display: flex;
    justify-content: end;
    height: 65px;
}

.dev_apply_course_btn {
    width: 171.79px;
    max-width: 171.79px;
    height: 48px;
    background: #E4DB22;
    border-radius: 19.2308px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dev_fees {
    font-weight: 400;
    font-size: 12.8205px;
    line-height: 18px;
    color: #000000;
}

.dev_rate {
    font-weight: 400;
    font-size: 15.8205px;
    /* line-height: 18px; */
    color: #000000;
}

.dev_join_whatsapp_btn {
    Width: 205.08px;
    max-width: 205.08px;
    Height: 48px;
    background: #25D366;
    border-radius: 19.2308px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dev_whatsapp_text {
    font-weight: 600;
    font-size: 16.9492px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 8px;
}

/* UI-UX Designer Card */

.designer_component {
    display: flex;
    margin: 99px auto 0 auto;
    height: 419px;
    Width: 1075px;
    max-Width: 1075px;
    background: rgba(250, 0, 255, 0.84);
    border: 5px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.designer_box {
    width: 45%;
    padding: 32px 32px 0px 32px;
    border-right: 5px solid #000000;
}

.designer_img {
    text-align: center;
}

.designer_img_heading {
    Height: 66px;
    margin-top: 24px;
    max-width: 454px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 34.1818px;
    line-height: 47px;
}

.designer_all_buttons {
    text-align: center;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.designer_duration_button {
    background: #A7E5FF;
    width: 112px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.designer_training_button {
    background: #A7E5FF;
    width: 105px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.designer_career_button {
    background: #A7E5FF;
    width: 134px;
    height: 46px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.designer_type_in {
    font-weight: 300;
    font-size: 10.20513px;
    line-height: 14px;
    color: #000000;
}

.designer_mode {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.designer_summary {
    width: 57%;
    padding: 32px 32px 0 32px;
    display: grid;
}

.designer_smry {
    width: 537px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.designer_tools {
    width: 530px;
    margin-bottom: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.designer_skills_tools {
    width: 124px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 12px;
    margin-top: 26px;
}

.designer_apply_buttons {
    display: flex;
    justify-content: end;
    height: 65px;
}

.designer_apply_course_btn {
    width: 171.79px;
    height: 48px;
    background: #E4DB22;
    border-radius: 19.2308px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.designer_fees {
    font-weight: 400;
    font-size: 12.8205px;
    line-height: 18px;
    color: #000000;
}

.designer_rate {
    font-weight: 400;
    font-size: 15.8205px;
    color: #000000;
}

.designer_join_whatsapp_btn {
    Width: 205.08px;
    Height: 48px;
    background: #25D366;
    border-radius: 19.2308px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.designer_whatsapp_text {
    font-weight: 600;
    font-size: 16.9492px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 8px;
}



.dev_applyNow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    align-items: center;
}

.dev_rightbutton {
    display: grid;
}

.designer_rightbutton {
    display: grid;
}

.dev_applyNow span {
    Width: 205.08px;
    max-width: 205.08px;
    text-align: center;
}

.designer_applyNow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.designer_applyNow span {
    Width: 205.08px;
    max-width: 205.08px;
    text-align: center;
    display: grid;
    align-items: center;
}



/* Responsive */

@media(min-width:320px) and (max-width:425px) {

    .sutable_training_section {
        margin: 40px auto 0 auto;
        width: 90%;
        max-width: 1075px;
    }

    .sutable_training_text {
        text-align: center;
    }

    .ST_heading{
        height: auto;
        width: 100%;
        margin: auto;
        line-height: 34px;
        font-size: 24px;
    }

    .ST_summary {
        Height: auto;
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        margin: 19px auto;
    }



    .developer_component {
        margin: 21px auto 0 auto;
        display: grid;
        width: 100%;
        height: auto;
    }

    .developer_box {
        width: 100%;
        padding: 10px;
        border-bottom: 5px solid #000000;
        border-right: none;
    }

    .developer_img_heading {
        Height: auto;
        margin-top: 24px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 29.1818px;
    }

    .dev_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 100%;
    }

    .dev_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 100%;
    }

    .dev_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 100%;
    }

    .dev_summary {
        width: 100%;
        padding: 20px 10px 20px 10px;
    }

    .dev_smry {
        width: 100%;
    }

    .dev_apply_buttons {
        display: flex;
        justify-content: space-between;
    }

    .dev_apply_course_btn {
        width: 47%;
        max-width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    margin-right: 0px;

    }

    .dev_join_whatsapp_btn {
        Width: 47%;
        max-width: 170px;
    }

    .dev_whatsapp_text {
        font-weight: 600;
        font-size: 15.9492px;
    }

    .designer_component {
        display: grid;
        margin: 50px auto 0 auto;
        width: 100%;
        height: auto;
    }

    .designer_box {
        width: 100%;
        padding: 10px;
        border-right: none;
        border-bottom: 5px solid #000000;
    }

    .designer_img_heading {
        Height: auto;
        margin-top: 24px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 29.1818px;
        line-height: 47px;

    }

    .designer_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 100%;
    }

    .designer_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 100%;
    }

    .designer_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 100%;
    }

    .designer_summary {
        width: 100%;
        padding: 20px 10px 20px 10px;
    }

    .designer_smry {
        width: 100%;
    }

    .designer_apply_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .designer_apply_course_btn {
        width: 47%;
        max-width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }

    .designer_join_whatsapp_btn {
        Width: 47%;
        max-width: 170px;
    }

    .designer_whatsapp_text {
        font-weight: 600;
        font-size: 15.9492px;
    }

    .dev_rate {
        font-size: 13px;
    }

    .dev_whatsapp_text {
        font-size: 13px;
    }

    .designer_rate {
        font-size: 13px;
    }

    .designer_whatsapp_text {
        font-size: 13px;
    }

    .designer_apply_buttons {
        margin-top: 0%;
    }

    .designer_all_buttons {
        margin-bottom: 20px;
    }

    .dev_all_buttons {
        margin-bottom: 20px;
    }

    .dev_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-top: 6px;
    }

    
    .designer_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-top: 6px;
    }

    .designer_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }

    .dev_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }

    img.dev_whstsapp {
        width: 13%;
    }

    .dev_mode {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }

    .designer_mode {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }

    .dev_rightbutton {
        margin-top: 0;
    }

    .designer_rightbutton {
        margin-top: 0;
    }

}


@media(min-width:426px) and (max-width:768px) {

    section#Join_our_internship {
        margin: 40px auto 0 auto;
    }

    .sutable_training_section{
        margin: 60px auto 0 auto;
        width: 90%;
    }

    .sutable_training_text {
        text-align: center;
    }

    .ST_heading{
        height: auto;
        width: 100%;
        margin: auto;
        line-height: 34px;
        font-size: 23px;
    }

    .ST_summary{
        Height: auto;
        margin: 20px auto 0 auto;
        width: 100%;
        font-size: 17px;
    }

    .developer_component {
        display: grid;
        margin: 30px auto 0 auto;
        height: auto;
        Width: 100%;
    }

    .developer_box {
        width: 100%;
        border-bottom: 5px solid #000000;
        border-right: none;
    }

    .developer_img_heading {
        Height: auto;
        margin-top: 24px;
        max-width: 100%;
        color: #FFFFFF;
        font-size: 30.1818px;
    }

    .dev_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .dev_rightbutton {
        margin-top: 0;
    }

    .designer_rightbutton {
        margin-top: 0;
    }

    .dev_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .dev_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .dev_summary {
        width: 100%;
        padding: 32px 32px 20px 32px;
        display: grid;
    }

    .dev_smry {
        width: 100%;
    }

    .dev_apply_buttons {
        display: flex;
        justify-content: end;
    }

    .dev_apply_course_btn {
        width: 47%;
        max-width: 190px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    }

    .dev_join_whatsapp_btn {
        Width: 47%;
        max-width: 190px;
    }

    .dev_rate {
        font-weight: 400;
        font-size: 14.8205px;
    }

    .dev_whatsapp_text {
        font-weight: 600;
        font-size: 15.9492px;
    }

    img.dev_whstsapp {
        width: 13%;
    }

    .designer_apply_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .designer_apply_course_btn {
        width: 47%;
        max-width: 190px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    }

    .designer_join_whatsapp_btn {
        Width: 47%;
        max-width: 190px;
    }

    .designer_rate {
        font-weight: 400;
        font-size: 14.8205px;
    }

    .designer_whatsapp_text {
        font-weight: 600;
        font-size: 15.9492px;
    }

    img.dev_whstsapp {
        width: 13%;
        max-width: 25px;
    }

    .designer_component {
        display: grid;
        margin: 40px auto 0 auto;
        height: auto;
        Width: 100%;
    }

    .designer_box {
        width: 100%;
        border-bottom: 5px solid #000000;
        border-right: none;
    }

    .designer_img_heading {
        Height: auto;
        margin-top: 24px;
        max-width: 100%;
        color: #FFFFFF;
        font-size: 30.1818px;
    }

    .designer_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .designer_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .designer_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .designer_summary {
        width: 100%;
        padding: 32px 32px 20px 32px;
    display: grid;
    }

    .designer_smry {
        width: 100%;
    }

    .designer_apply_buttons {
        display: flex;
        justify-content: end;
        margin-top:     0px;
        margin-bottom: 0px;
    }

    .designer_apply_course_btn {
        width: 47%;
        max-width: 190px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    }

    .designer_join_whatsapp_btn {
        Width: 47%;
        max-width: 190px;
    }

    .dev_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-top: 6px;
    }
    
    .dev_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }

    .designer_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-top: 6px;
    }
    
    .designer_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }
}

@media(min-width:769px) and (max-width:1024px) {

    .sutable_training_section {
        margin: 90px auto 0 auto;
    width: 90%;
    }

    .ST_heading{
        height: auto;
        margin: auto;
        width: 100%;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
    }

    .ST_summary{
        Height: auto;
        width: 90%;
        margin: 20px auto;
        max-width: 1076px;
        font-weight: 300;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }

    .developer_component {
        display: flex;
        margin: 30px auto 0 auto;
        height: auto;
        Width: 90%;
        max-Width: 100%;
        background: rgba(238, 87, 0, 0.84);
        border: 5px solid #000000;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 25%);
        border-radius: 25px;
    }

    .developer_img_heading {
        Height: auto;
        margin-top: 48px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 28.1818px;
        line-height: 39px;
    }

    .developer_box {
        width: 45%;
        padding: 32px 10px;
    }

    .dev_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .dev_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .dev_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .dev_all_buttons {
        text-align: center;
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .dev_apply_buttons {
        display: flex;
        justify-content: end;
        margin-top: 0px;
    }

    .dev_mode {
        font-weight: 400;
        font-size: 14px;
    }

    .dev_apply_course_btn {
        width: 45%;
        max-width: 200px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    }

    .dev_join_whatsapp_btn {
        Width: 48%;
        max-width: 200px;
    }

    .designer_component {
        display: flex;
        margin: 55px auto 0 auto;
        height: auto;
        Width: 90%;
        max-Width: 100%;
    }

    .designer_img_heading {
        Height: auto;
        margin-top: 48px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 28.1818px;
        line-height: 39px;
    }

    .designer_box {
        width: 45%;
        padding: 32px 10px;
    }

    .designer_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .designer_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .designer_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .designer_all_buttons {
        text-align: center;
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .designer_apply_buttons {
        display: flex;
        justify-content: end;
    }

    .designer_apply_course_btn {
        width: 45%;
        max-width: 200px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    }

    .designer_join_whatsapp_btn {
        Width: 48%;
        max-width: 200px;
    }

    .dev_summary {
        padding: 32px 10px 0 10px;
    }

    .dev_smry {
        width: 100%;
    }

    .designer_summary {
        width: 57%;
        padding: 32px 10px 0 10px;
    }

    .dev_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .dev_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }

    .designer_smry {
        width: 100%;
    }

    .designer_mode {
        font-weight: 400;
        font-size: 14px;
    }
}

@media(min-width:1025px) and (max-width:1075px) {

    .developer_component {
        display: flex;
        margin: 30px auto 0 auto;
        height: auto;
        Width: 90%;
        max-Width: 100%;
        background: rgba(238, 87, 0, 0.84);
        border: 5px solid #000000;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 25%);
        border-radius: 25px;
    }

    .developer_img_heading {
        Height: auto;
        margin-top: 48px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 28.1818px;
        line-height: 39px;
    }

    .developer_box {
        width: 45%;
        padding: 32px 10px;
    }

    .dev_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .dev_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .dev_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .dev_all_buttons {
        text-align: center;
        margin-top: 41px;
        display: flex;
        justify-content: space-between;
    }

    .dev_apply_buttons {
        display: flex;
        justify-items: center;
        margin-top: 0px;
    }

    .dev_apply_course_btn {
        width: 47%;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .dev_join_whatsapp_btn {
        width: 47%;
    max-width: 190px;
    }

    .designer_component {
        display: flex;
        margin: 55px auto 0 auto;
        height: auto;
        Width: 90%;
        max-Width: 100%;
    }

    .designer_img_heading {
        Height: auto;
        margin-top: 48px;
        max-width: 454px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 28.1818px;
        line-height: 39px;
    }

    .designer_box {
        width: 45%;
        padding: 32px 10px;
    }

    .designer_duration_button {
        background: #A7E5FF;
        width: 26%;
        max-width: 141px;
    }

    .designer_training_button {
        background: #A7E5FF;
        width: 28%;
        max-width: 155px;
    }

    .designer_career_button {
        background: #A7E5FF;
        width: 42%;
        max-width: 240px;
    }

    .designer_all_buttons {
        text-align: center;
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .designer_apply_buttons {
        display: flex;
        justify-content: end;
        margin-top: 0px;
    }

    .designer_apply_course_btn {
        width: 47%;
    max-width: 190px;
    }

    .designer_join_whatsapp_btn {
        width: 47%;
        max-width: 190px;
    }

    .designer_summary {
        width: 57%;
        padding: 32px 10px 0 10px;
    }

    .dev_summary {
        padding: 32px 10px 0 10px;
    }

    .dev_smry {
        width: 100%;
    }

    .dev_applyNow {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .dev_applyNow span {
        width: 47%;
        max-width: 170px;
        text-align: center;
    }
}


@media(min-width:1076px) and (max-width:1200px){


    .developer_component {
        Width: 95%;
    }

    .designer_component {
        Width: 95%;
    }
}