@media screen and (max-width:1440px) {
    .ourrecentclient {
        margin: 90px auto 0px auto;
    }
}
@media screen and (min-width:1440px) {
    .ourrecentclient {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width:1024px) {
    .ourclients {
        font-size: 30px;
        line-height: 35px;

    }

    .worksetup {
        font-size: 18px;
        line-height: 24px;

    }

    .ourclientcard {
        overflow-x: scroll;
    }

    .clientcard1,
    .clientcard2,
    .clientcard3 {
        margin-top: 41px;
        width: 231px;
        height: 300px;
    }

    .clientcard1 img,
    .clientcard2 img,
    .clientcard3 img {
        width: 140px;
        height: 150px;
        margin-top: 28px;
    }

    .clientcompanyname,
    .clientbrandname {
        font-size: 20.50px;
        line-height: 178%;
    }

    .ourrecentclient {
        margin: 90px auto 0px auto;
        justify-content: flex-start;
        width: 90%;
    }
}

@media (min-width:425px) and (max-width:768px) {

    .ourclients {
        font-size: 24px;
        line-height: 27px;
    }

    .worksetup {
        font-size: 16px;
        line-height: 22px;

    }


    .ourclientcard {
        overflow-x: scroll;
    }

    .clientcard1,
    .clientcard2,
    .clientcard3 {
        margin-top: 35px;
        width: 207px;
        height: 258px;
    }

    .clientcard1 img,
    .clientcard2 img,
    .clientcard3 img {
        width: 112px;
        height: 140px;
        margin-top: 28px;
    }

    .clientcompanyname,
    .clientbrandname {
        font-size: 16px;
        line-height: 31px;
        margin-top: -1px;
    }

    .ourrecentclient {
        margin: 90px auto 0px auto;
        justify-content: flex-start;
        width: 90%;
    }

}

@media screen and (max-width:425px) {
    /* .clientheading{
        margin-left: 10px;
    } */

    .ourclients {
        font-size: 18px;
        line-height: 23px;
    }

    .worksetup {
        font-size: 12px;
        line-height: 15px;
    }

    .clientcard1,
    .clientcard2,
    .clientcard3 {
        margin-top: 27px;
        width: 153px;
        height: 203px;
    }

    .ourclientcard {
        overflow-x: scroll;
    }

    .clientcard1 img,
    .clientcard2 img,
    .clientcard3 img {
        width: 91px;
        height: 100px;
        margin-top: 20px;
    }

    .clientcompanyname,
    .clientbrandname {
        font-size: 14px;
        line-height: 26px;
    }

    .ourrecentclient {
        margin: 90px auto 0px auto;
        justify-content: flex-start;
        width: 90%;
    }
}