<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availabel Internships</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/availabelstyle.css">
</head>

<body>
    <section id="availabel_container">
        <div id="main_content">
            <span class="Ux_prodx">
                At UX-ProdX, you learn and grow exactly how you would on a real Industry environment. You will start
                from the
                fundamentals, receive support from our mentors and fellow Interns, and build your way to the top-
                through professional work-like Industry professionals on real products.
            </span>
        </div>
    </section>

</body>

</html>