<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Grow Together Component</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- font link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="stylesheet/internship_program.css">

</head>

<body>
    
    <!-- internship_program -->
    <section class="Sectionfourth SFOURTH" id="internship_program">
        <div class="SFOURTH_text">
            <div class="SFOURTH_heding">
                <span class="SFOURTH_head_text">Why you should join the Internship Program! </span>
            </div>
            <div class="SFOURTH_summary">
                <span class="SFOURTH_summary_text">Our Internship program is form of experimental learning that
                    integrates knowledge and theory in the classroom with practical application and skills development
                    in a professional setting.</span>
            </div>
        </div>
        <div class="SFOURTH_cards">
            <div class="SFOURTH_card1 my_CRD">
                <div class="SFOURTH_card1_img">
                    <img class="Learn-from-experts" src="Icons/Learn-from-experts.gif" alt="">
                </div>
                <div class="SFOURTH_card1_text">
                    <span class="SFOURTH_card1_heading">Learn from Experts</span>
                    <div class="SFT_C1_summary">
                        <span class="SFOURTH_card1_summary">To reach role-based topics in a practical way that helps you
                            to stay on top of Career curve</span>
                    </div>
                </div>
            </div>
            <div class="SFOURTH_card2 my_CRD">
                <div class="SFOURTH_card2_img">
                    <img class="Master-your-trade" src="Icons/Master-your-trade.gif" alt="">
                </div>
                <div class="SFOURTH_card2_text">
                    <span class="SFOURTH_card2_heading">Master your Trade</span>
                    <div class="SFT_C2_summary">
                        <span class="SFOURTH_card2_summary">Gain experts in your chosen
                            functions and area of interests</span>
                    </div>
                </div>
            </div>
            <div class="SFOURTH_card3 my_CRD">
                <div class="SFOURTH_card3_img">
                    <img class="Get-certified" src="Icons/Get-certified.gif" alt="">
                </div>
                <div class="SFOURTH_card3_text">
                    <span class="SFOURTH_card3_heading">Get Certified</span>
                    <div class="SFT_C3_summary">
                        <span class="SFOURTH_card3_summary">Get an Achievement Certificate
                            after completion of your intership</span>
                    </div>
                </div>
            </div>
        </div>
    </section>



    



        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- navbar -->
    <script src="../components/websiteNavbar/navbarScript/navbarScript.js"></script>

    <!-- header -->
    <script src="../components/academyHeader/script/Header.js"></script>


</body>

</html>