* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Manrope';
}

/* Section_first */

section#Join_our_internship {
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1075px;
    height: fit-content;
}

.SF_left_column {
    max-width: fit-content;
    width: 60%;
    height: auto;
    display: grid;
    align-items: center;
}

div#SF_heading {
    width: 80%;
    max-width: 371px;
    height: auto;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
}

span.SF_heading_1 {
    color: #000000;
}

.SF_head_text {
    max-width: 625px;
    width: 100%;
    height: auto;
    margin-top: 12px;
}

span.SF_summary {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}

span.SF_heading_2 {
    color: red;
}

.SF_right_column {
    max-width: fit-content;
    width: 40%;
    height: fit-content;
}

img.SF_internship_img {
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 380px;
}

.SF_text {
    width: 100%;
    max-width: 625px;
}

.SF_button {
    height: 70px;
}

.SF_whatsapp_btn {
    Width: 242px;
    Height: 59px;
    background: #25D366;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: rgb(0 0 0 / 65%) 0px 3px 1px -1px, rgb(0 0 0 / 8%) 0px -1px 0px inset;
}

.SF_whatsapp_text {
    font-weight: 600;
font-size: 20px;
line-height: 27px;
    color: #FFFFFF;
    margin-left: 8px;
}



/* Responsive */

@media (min-width:320px ) and (max-width:425px){

    /* Navbar Component */

    

    /* section First */

     section#Join_our_internship {
        margin: 40px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1075px;
        height: fit-content;
    }

    div#SF_heading {
        width: 100%;
        max-width: 371px;
        height: auto;
        /* max-height: 55px; */
        font-weight: 800;
        font-size: 23px;
        line-height: 32px;
    }

    .SF_whatsapp_btn {
        width: 47%;
        Height: 32px;
    }

    .SF_button {
        height: 50px;
    margin-top: 20px;
    }
   

    .SF_whatsapp_text {
        font-weight: 600;
        font-size: 13px;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 8px;
    }

    .SF_head_text {
        max-width: 625px;
        width: 100%;
        height: auto;
        /* margin-top: 35px; */
    }

    img.SF_internship_img {
        height: 15rem;
        max-height: 380px;
        display: none;
    }

    span.SF_summary {
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
    }

    .SF_right_column {
    width: 40%;
    display: flex;
    align-self: flex-end;
    } 

    .SF_left_column {
        max-width: fit-content;
        width: 100%;
    }

    img.SF_whstsapp {
        width: 15%;
        max-width: 24px;
    }

}


@media (min-width:425px ) and (max-width:768px){

    /* section first  */
    
    section#Join_our_internship {
        margin: 40px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1075px;
        height: fit-content;
    }
    
    div#SF_heading {
        width: 100%;
        max-width: 371px;
        height: auto;
        /* max-height: 55px; */
        font-weight: 800;
        font-size: 30px;
        line-height: 41px;
    }
    
    .SF_whatsapp_btn {
        max-Width: 195px;
        width: 85%;
        Height: 42px;
    }
    
    .SF_button {
        height: 50px;
    margin-top: 20px;
    }
    
    
    .SF_whatsapp_text {
        font-weight: 600;
        font-size: 13px;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 8px;
    }
    
    .SF_head_text {
        max-width: 625px;
        width: 100%;
        height: auto;
        margin-top: 15px;
    }
    
    img.SF_internship_img {
        width: 100%;
        max-width: 380px;
        height: 15rem;
        max-height: 380px;
    }
    
    span.SF_summary {
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
    }
    
    .SF_right_column {
    width: 40%;
    display: flex;
    align-self: flex-end;
    } 

}

@media (min-width:769px ) and (max-width:1024px){

section#Join_our_internship {
    margin: 55px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
max-width: 1075px;
height: fit-content;
}


div#SF_heading {
width: 100%;
max-width: 371px;
height: auto;
/* max-height: 55px; */
font-weight: 800;
font-size: 30px;
line-height: 41px;
}

.SF_whatsapp_btn {
max-Width: 195px;
width: 85%;
Height: 42px;
}

.SF_button {
height: 50px;
margin-top: 20px;
}


.SF_whatsapp_text {
font-weight: 600;
font-size: 13px;
line-height: 27px;
color: #FFFFFF;
margin-left: 8px;
}

.SF_head_text {
max-width: 625px;
width: 100%;
height: auto;
margin-top: 15px;
}

img.SF_internship_img {
width: 100%;
max-width: 380px;
height: 15rem;
max-height: 380px;
}

span.SF_summary {
font-weight: 300;
font-size: 17px;
line-height: 25px;
}

.SF_right_column {
width: 40%;
display: flex;
align-self: flex-end;
} 

}