<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- google font link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- main CSS file -->
    <link rel="stylesheet" href="stylesheet/p4-about-us-bhupesh.css">

    <!-- responsive StyleSheet -->
    <link rel="stylesheet" href="stylesheet/responsive-p4-about-us-bhupesh.css">

    <!-- Card main File -->
    <link rel="stylesheet" href="stylesheet/ourTeamCard.css">

    <!-- Card resources File -->
    <link rel="stylesheet" href="stylesheet/ourTeamCardResponsive.css">

</head>

<body>

    <section class="section_heading_we_serve">

        <div class="we_serve_WS">
            <div class="we_serve_heading_WS">
                <div class="our_services_WS">Our Services</div>
                <div class="PDL_WS">Our work speaks louder than words. </div>
                <div class="we_serve_summary_WS">
                    We are creative Digital Product Development ninja’s with rich expertise in crafting and delivering
                    software solutions using the latest emerging and digital tech. We help enterprises transition
                    seamlessly in their digital initiatives by adhering to an innovative, scalable, and
                    technology-agnostic approach.
                </div>
            </div>
            <img class="about_louder_gif"
                src="gif/[component_lottie_https___assets4.lottiefiles.com_packages_lf20_ab0pxvgc.json].gif" alt="">
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    </script>
</body>

</html>