<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="./Style/Community.css">


    <!-- google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <section class="words-section">
        <div class="section-heading">
            <p>Join A Community Of Ambitious Learners !</p>
        </div>
        <div class="section-quote">
            <p class="section-paragraph">Meet and grow together with a community of passionate Learners who have taken
                their
                careers to new heights with UX-ProdX</p>
        </div>
    </section>
    <section class="cards-section">

        <div class="testimonials">
            <div class="inner">

                <div class="card-content">
                    <div class="card-item">
                        <div class="testimonial">
                            <img src="./Images/Profile-Image.png" alt="">
                            <div class="name">Full name</div>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="testimonial">
                            <img src="./Images/Profile-Image.png" alt="">
                            <div class="name">Full name</div>


                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="testimonial">
                            <img src="./Images/Profile-Image.png" alt="">
                            <div class="name">Full name</div>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>