@media screen and (min-width:1024px) {
    /* .words_section{
        transform: translateY(100px);
        transition: 1s ease-in-out;
        opacity: 0;
    } */
}


@media (min-width:769px) and (max-width:1024px) {
    .carousel_section {
        margin-top: 90px;


    }

    .section_head {
        font-size: 35px;
        line-height: 58px;
    }

    .section_quote {
        font-size: 13px;
        line-height: 18px;
    }

    .carousel_part {
        margin-top: 35px;

    }
}

@media (min-width:629px) and (max-width:769px) {
    .carousel_section {
        margin-top: 90px;

    }

    .section_head {
        font-size: 30px;
        line-height: 45px;
    }

    .section_quote {
        font-size: 12px;
        line-height: 16px;
    }

    .carousel_part {
        margin-top: 30px;
    }
}

@media (min-width:425px) and (max-width:629px) {
    .carousel_section {
        margin-top: 50px;


    }

    .section_head {
        font-size: 24px;
        line-height: 40px;
    }

    .section_quote {
        font-size: 13px;
        line-height: 18px;
    }

    .carousel_part {
        margin-top: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width:425px) {
    .carousel_section {
        margin-top: 50px;
        /* margin-left: 40px;
        margin-right: 40px; */

    }

    .words_section {
        transform: translateY(0px);
        transition: 0.5s;
    }

    .section_head {
        font-size: 15px;
        line-height: 40px;
    }

    .section_quote {
        font-size: 10px;
        line-height: 15px;
    }

    .carousel_part {
        margin-top: 25px;
    }
}