<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="style/header.css">

</head>
<body>
    <section class="academyHeader">
        <div class="headerContainer">
            <div class="headerUpContainer">
                <div class="upContainerBox">
                    <div class="headerBox">
                        <div class="HeaderTitle">
                            <span class="joinPart">Join India's Smartest </span>
                            <span class="onlinePart">Online Training Program.</span>
                        </div>
                        <div class="paraBox">
                            <p>Learn with Industry experts, explore carrer opportunities, network with industry
                                professionals and get 4 months paid internship with our development and design studio,
                                and join India's best training program at any skills level! </p>
                            <p>What are you waiting for ?</p>
                        </div>
                    </div>
                    <div class="buttonBox">
                        <div class="whatsappButton">
                            <img src="icons/whatsapp.svg" alt="">
                            <span class="whatsappTitle">Join Whatsapp</span>
                        </div>
                        <div class="facebookButton">
                            <img src="icons/Facebook Icon.svg" alt="">
                            <span class="facebookTitle">Join Facebook</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headerDownContainer">
            <div class="downBox">
                <div class="downBoxContainer">
                    <div class="downBoxSubContainer">
                        <span class="titlePartBox">OUR TECHNOLOGY PARTNERS</span>
                        <div class="imgPartBox">
                            <img src="icons/la_aws.svg" alt="">
                            <img src="icons/fa6-brands_shopify.svg" alt="">
                            <img src="icons/bxl_microsoft.svg" alt="">
                            <img src="icons/akar-icons_google-fill.svg" alt="">
                            <img src="icons/bxl_adobe.svg" alt="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="marqueeSection">
                <div class="closeButton">
                    <img src="icons/close_black_24dp.svg" alt="" id="closeImg">
                </div>
                <marquee>
                    <p class="marqueePara">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias tempora saepe impedit natus
                        aliquid consequuntur voluptate accusantium ut facilis, culpa repudiandae temporibus quia? Iure
                        at
                        commodi distinctio quaerat mollitia repellat, explicabo voluptatem pariatur maxime nesciunt.
                    </p>
                </marquee>
            </div>
        </div>
    </section>
<script src="script/Header.js"></script>
</body>
</html>