<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style/ourServices.css">
</head>
<body>
    <section class="design">
        <div class="researchContainer">
            <div class="designHeadingContainer">
                <div class="researchLeftContainer">
                    <div class="researchHeading">
                        <span>
                            Design
                        </span>
                    </div>
                    <div class="headingDownContainer">
                        <div class="researchDescription">
                            <p>
                                We see design as a collaborative endeavour, requiring inputs from all stakeholders in
                                order to create successful and scalable solutions.


                            </p>
                        </div>

                    </div>
                </div>
                <div class="designImg">
                    <img src="images/design.gif" alt="">
                </div>
            </div>
            <div class="researchDescriptionContainer">

                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Digital Branding

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            A strategic process to help your brand establish a platform-agnostic identity and presence.

                        </p>
                    </div>
                </div>

                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            User Experience Design


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Designing aesthetic, delightful and visually appealing products that are functional and
                            enjoyable to use.
                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            User Interface Design

                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Designing aesthetic, delightful and visually appealing products that are functional and
                            enjoyable to use.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Interaction Design


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Simplifying human computer interactions to yield intuitive, seamless and task-oriented
                            outcomes.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Digital Prototyping


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Making a prototype of the final product and testing it in real time to get inputs and
                            reliable user feedback.

                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Motion Graphics


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Integrating input oriented movements in real time, to enhance the quality of interactions
                            within a product.


                        </p>
                    </div>
                </div>
                <div class="researchCards">
                    <div class="cardHeading">
                        <span>
                            Illustrations and Iconography


                        </span>
                    </div>
                    <div class="cardPara">
                        <p>
                            Crafting stunning, visually consistent sets of icon styles and illustrations, in line with all relevant brand guidelines.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>